{% if messages %}
{% for msg in messages %}

{% if 'user_alert_info' in msg.tags %}
<div data-bulma="notification" data-dismiss-interval="3000" class="notification is-link has-text-centered">
    <button class="delete"></button>
    {{ msg }}
</div>
{% endif %}

{% if 'user_alert_important' in msg.tags %}
<div data-bulma="notification" class="notification is-link has-text-centered">
    <button class="delete"></button>
    {{ msg }}
</div>
{% endif %}

{% if 'user_alert_error' in msg.tags %}
<div data-bulma="notification" class="notification is-danger has-text-centered">
    <button class="delete"></button>
    {{ msg }}
</div>
{% endif %}

{% endfor %}
{% endif %}