{% if messages %}
{% for msg in messages %}

{% if 'user_alert_info' in msg.tags %}

<script>
    $(window).bind("load", function() {
        n = infoNotify('Heads up...', '{{ msg }}');
        n.show();
    });
 </script>

</div>
{% endif %}

{% if 'user_alert_important' in msg.tags %}
<script>
    $(window).bind("load", function() {
        n = infoNotify('Important!', '{{ msg }}');
        n.show();
        });
</script>
{% endif %}

{% if 'user_alert_error' in msg.tags %}
<script>
    $(window).bind("load", function() {
        n = errorNotify('{{ msg }}');
        n.show();
    });
</script>
{% endif %}

{% endfor %}
{% endif %}