[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.5"
django-allauth = "*"
pillow = "*"
Pipfile = "*"
django-crispy-forms = "*"
python-decouple = "*"
django-smtp-ssl = "*"
django-phonenumber-field = "*"
stripe = "*"
pinax-stripe = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
rope = "*"
django-sslserver = "*"
"autopep8" = "*"
django-debug-toolbar = "*"
ipython = "*"

[requires]
python_version = "3.6"
