{% for source in sources %} 
{% load store_tags %}

<div class="tile is-ancestor">
    <div class="tile is-4 is-wrapping is-parent has-text-center">
        <div class="tile is-child">
            <div class="level box">
                <div class="level-item">
                    <figure class="image" style="width: 96px;">
                        <img src="{% get_card_image source %}" border='0' />
                    </figure>
                </div>
                <div class="level-item" style="padding-left:20px;padding-right:10px;">
                    <p class="subtitle">{{ source.last4 }}</p>
                </div>
                <div class="level-item has-text-centered">
                    <div class="field">
                        <input class="is-checkradio is-circle is-success" id="card_{{ source.pk }}" type="checkbox" name="card_{{ source.pk }}" checked="{% default_card customer source.pk%}">
                        <label for="card_{{ source.pk }}"></label>
                        <a href="" class="tooltip" data-tooltip="Remove Card">
                            <span class="delete">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}