{% load store_tags %}

{% for source in sources %}
<div class="column is-4">
    <div class="card is-select-card js-payment-select">
        <header class="card-header">
            <div class="media">
                <div class="media-left">
                    <figure class="image has-max-120">
                        <img src="{% get_card_image source %}">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-5">{{ source.last4 }}
                            {% if source.stripe_id == source.customer.default_source %}
                            <span class="tag is-small is-primary is-rounded has-text-weight-normal">Default</span>
                            {% endif %}
                    </p>
                    <p class="subtitle">{{ source.name }}</p>
                    <div class="card-header-icon is-overlay js-payment-select" aria-label="more options">
                        <div class="field">
                            <input class="is-checkradio is-rtl is-small" id="payment_method{{ forloop.counter }}" type="radio" name="payment_method_card" autocomplete="off">
                            <label for="payment_method{{ forloop.counter }}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
{% endfor %}