{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}

{% block content %}
{% load store_tags %}

<section class="section is-paddingless">
    <div class="hero is-small is-info is-bold">
        <div class="hero-head">
            {% include 'nav.html' %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Your Cart <span class="subtitle">({{ cart.products.all|length }})</span></h1>
    {% if cart.products.all|length >= 1 %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Device</th>
                    <th>Order</th>
                    <th>Price</th>
                    <th class="has-text-centered">Remove</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total: {% cart_total cart %}</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in cart.products.all %}
                <tr>
                    <td>{{ item.type }}</td>
                    <td>{{ item.order.device.name }}</td>
                    <td>{{ item.order.repair.name }}</td>
                    <td>${{ item.order.price }}</td>
                    <td class="has-text-centered"><a href="{% url 'store:remove_cart' item.pk %}"><span class="delete is-small"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="buttons is-pulled-right">
            <a href="{% url 'store:clear_cart' %}" class="button is-info is-rounded">Clear Cart</a>
            <a href="{% url 'store:checkout' %}" class="button is-success is-rounded">Checkout</a>
        </p>
        {% else %}
        <div class="is-divider"></div>
        <h6 class="subtitle has-text-centered"> You current have no items in your cart</h6>
        {% endif %}
    </div>
</section>


{% endblock %}