{% extends 'store/base.html' %} 

{% block title %}Checkout{% endblock %} 

{% block content %} 
{% load crispy_forms_tags %} 
{% load store_tags %}

{% include 'nav.html' %}
{% include 'notif.html'%}

<div class="columns has-space-all">
    <div class="column">
        <div class="card">
            <div class="card-header has-background-dark">
                <h1 class="card-header-title has-text-light">Information</h1>
            </div>
            <div class="card-content">
                {% with view.user as user %}
                <div class="columns">
                    <div class="column">
                        <div class="columns is-centered is-list">
                            <div class="column">
                                <p>Name: </p>
                                <p>Email: </p>
                                <p>Phone: </p>
                            </div>
                            <div class="column">
                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                                <p>{{ user.email }}</p>
                                <p>{% format_phone user.profile.phone %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-two-thirds"></div>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header has-background-dark">
                <h1 class="card-header-title has-text-light">Cart Summary</h1>
            </div>
            <div class="card-content">
                {% with view.cart as cart %}
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Order</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in cart.entries.all %}
                        {% with entry.product as product %}
                        <tr>
                            <td>{{ product.device }}</td>
                            <td>{{ product.repair.name }}</td>
                            <td>${{ product.price }}</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <th>Subtotal: <span class="has-text-weight-normal">${{ cart.total }}</span></th>
                        </tr>
                    </tbody>
                </table>
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<div class="columns is-centered has-space-all">
    <div class="column">
        <div class="card">
            <div class="card-header has-background-dark">
                <h1 class="card-header-title has-text-light">Payment Method</h1>
            </div>
            <div class="card-content">
                <div class="is-divider is-header is-left is-medium" data-content="Your Saved Cards"></div>
                <div class="columns is-multiline">
                    {% include 'store/card.html' with sources=view.sources %}
                </div>
                <div class="columns">
                    <div class="column is-half">
                        <a>+ Add a new credit or debit card</a>
                        {% comment %} {% include 'store/stripe_card.html' with input_len='half'%} {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header has-background-dark">
                <h1 class="card-header-title has-text-light">Order Summary</h1>
            </div>
            <div class="card-content">
                <div class="columns has-space-horizontal">
                    <div class="column">
                        <div class="is-divider is-header is-small" data-content="Payment Details"></div>
                        <div class="columns is-list">
                            <div class="column">
                                <p>Method: </p>
                                <p>Name on Card: </p>
                                <p>Brand: </p>
                                <p>Ending in: </p>
                            </div>
                            <div class="column">
                                <p>Card</p>
                                <p>Braden Mars</p>
                                <p>Visa</p>
                                <p>4242</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="is-divider is-header is-small" data-content="Summary"></div>
                        <div class="columns is-gapless is-list">
                            {% with view.cart as cart %}
                            <div class="column has-divider">
                                <p>Subtotal:</p>
                                <p>Tax:</p>
                                <div class="is-divider"></div>
                                <p>Order Total:</p>
                            </div>
                            <div class="column has-divider">
                                <p>${{ cart.total }}</p>
                                <p>$0.00</p>
                                <div class="is-divider"></div>
                                <p>${{ cart.total }}</p>
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="columns has-space-vertical vtop">
                    <div class="column is-offset-9">
                        <a class="button is-link">Place Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}