{% extends 'store/base.html' %} 

{% block title %}Checkout{% endblock %} 

{% block content %} 
{% load crispy_forms_tags %} 
{% load store_tags %}

<section class="section is-paddingless">
    <div class="hero is-small is-info is-bold">
        <div class="hero-head">
            {% include 'nav.html' %}
        </div>
    </div>
</section>
{% include 'notif.html'%}

<section class="section">
    <div class="columns is-multiline">

        <div class="column">
            <div class="card">
                <header class="card-header has-background-dark">
                    <p class="card-header-title has-text-light">
                        Your Information
                    </p>
                </header>
                <div class="card-content">
                    <div class="block">
                        <ul class="is-info-list">
                            <li>
                                <span>Name: </span>{{ user.first_name }} {{ user.last_name }}</li>
                            <li>
                                <span>Email: </span>{{ user.email }}</li>
                            <li>
                                <span>Phone: </span>{{ user.profile.phone }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <header class="card-header has-background-dark">
                    <p class="card-header-title has-text-light">
                        Your Cart Summary
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <table class="table is-striped has-text-centered">
                            <thead>
                                <tr>
                                    <th>Repairs</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Total: ${{ cart.total }}</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in cart.entries.all %}
                                <tr>
                                    <td>{{ item.product.device }}</td>
                                    <td>{{ item.product.repair.name }}</td>
                                    <td>${{ item.product.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="columns">

        <div class="column">
            <div class="card">
                <header class="card-header has-background-dark">
                    <p class="card-header-title has-text-light">
                        Payment Method
                    </p>
                </header>
                <div class="card-content">
                    <section class="accordions">
                        <article class="accordion is-active">
                            <div class="accordion-header toggle">
                                <p>Paypal</p>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    {% comment %} {% include 'store/paypal_payments.html' %} {% endcomment %}
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-header toggle">
                                <p>Credit/Debit Card</p>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    {% if sources %} 
                                    {% include 'store/card.html' %}
                                    <a id="reveal_form" class="button is-link">Add Card</a>
                                    <div class="new_card animated fadeIn column">
                                        {% include 'store/stripe_card.html' %}
                                    </div>
                                    {% else %}
                                    <p class="subtitle">You have no active cards on your account, please add one to continue. </p>
                                    <div class="is-divider"></div>
                                    {% include 'store/stripe_card.html' %} 
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    </section>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <header class="card-header has-background-dark">
                    <p class="card-header-title has-text-light">
                        Checkout
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <form id="order-form" method="post" action="{% url 'billing:complete_order' %}">
                            {% csrf_token %}
                            <input type="submit" value="Pay">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{% endblock %}