<form class="form js-stripe-form" action="{% url 'billing:add_card' %}?next={{ request.path|urlencode }}" method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">Name on Card</label>
        <div class="control">
            <input class="input {% if input_len %}has-maxwidth-{{ input_len }}{% endif %}" type="text" name="card_holder" placeholder="John Smith">
        </div>
    </div>
    <div class="field form-row">
        <label class="label" for="card-element">
            Credit or debit card
        </label>
        <div class="control js-stripe-card" id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display Element errors. -->
        <div id="stripe-errors" role="alert"></div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <input class="button is-small is-rounded is-info" type="submit" value="Submit">
      </p>
      <p class="control">
        <input class="is-checkradio is-normal is-link" id="save_card" type="checkbox" name="save_card"/>
        <label for="save_card">Save Card?</label>
      </p>
    </div>
</form>