/*
    Helper Classes
    Braden Mars
    
*/

.is-fullwidth {
    width: 100%;
    &.force-help {
        width: 100% !important;
    }
}

// Image Helpers
.has-max {
    &width {
        &-384 {
            max-width: 384px;
        }
    }
}

// Positioning
.is-top {
    position: relative;
    z-index: 999;
}

.has-space- {
    &vertical {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}