

<div class="steps is-small" id="stepsDemo">
        <div class="step-item is-active is-success is-completed">
          <div class="step-marker">
            <span class="icon">
                <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="step-details">
            <p class="step-title">Order Received</p>
            <p>Your order has been successfully placed.</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker"></div>
          <div class="step-details">
            <p class="step-title">Replacement Shipped</p>
            <p>Your replacement item is on the way!</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker"></div>
          <div class="step-details">
            <p class="step-title">Ready for Repair</p>
            <p>Your replacement has arrived. See below how to continue.</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker"></div>
          <div class="step-details">
            <p class="step-title">Repair</p>
            <p>Your device has been received and will be repaired shortly.</p>
          </div>
        </div>
        <div class="step-item">
            <div class="step-marker"></div>
            <div class="step-details">
                <p class="step-title">Pickup</p>
                <p>Your device is fixed and ready for pickup!</p>
            </div>
        </div>
        <div class="step-item">
            <div class="step-marker"></div>
            <div class="step-details">
                <p class="step-title">Complete</p>
                <p></p>
            </div>
        </div>
        <div class="steps-actions">
          {% comment %} <div class="steps-action">
            <a href="#" data-nav="previous" class="button is-light">Previous</a>
          </div>
          <div class="steps-action">
            <a href="#" data-nav="next" class="button is-light">Next</a>
          </div> {% endcomment %}
        </div>
      </div>
      
      