/*
    Bulma Card Extension
    Dropdown Card, used to display payments
    Braden Mars
    
*/

.card.is-expandable {
    .card-header-icon {
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0px;
    }
    &.is-active {
        .card-content {
            @include transition(box-shadow, 1s);
            box-shadow: inset 0 8px 6px -6px hsl(0, 0%, 48%);
        }
        .card-header-icon span {
            @include transition(transform, 1s);
            @include transform(rotate(180deg));
        }
    }
}