{% extends 'base.html' %}

{% block content %}
{% include 'snippets/header.html' %}
<div class="columns">

    <div class="column is-one-quarter">
        <div class="block box is-radiusless is-marginless">
            <aside class="menu is-fullheight-menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a>Setting One</a></li>
                    <li><a>Setting Two</a></li>
                </ul>
                <p class="menu-label">
                    Orders
                </p>
                <ul class="menu-list">
                    <li><a href="{% url 'users:my_invoices' %}">My Invoices</a></li>
                    <li><a href="{% url 'users:my_orders' %}">My Orders</a></li>
                </ul>
            </aside>
        </div>
    </div>

    <div class="column">
        {% block info %}
        {% endblock %}
    </div>
</div>

{% endblock %}