{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}


<div class="container context">
    <div class="columns is-fullwidth">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a load-account="home" class="is-active">My Account</a></li>
                    <li><a load-account="settings" >Settings</a></li>
                    <li><a load-account="contact" >Contact</a></li>
                </ul>
                <p class="menu-label">
                    Purchases
                </p>
                <ul class="menu-list">
                    <li><a>My Devices</a></li>
                    <li><a load-account="orders">Orders</a></li>
                    <li><a>Invoices</a></li>
                </ul>
            </aside>
        </div>
        <div id="account-view" class="column">

        </div>
    </div>
</div>

{% endblock %}