<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h3 class="title has-text-weight-light">
                            Your Orders
                        </h3>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="field has-addons">
                            <p class="control has-icons-left">
                                <input name="search_query" search-target="order-list" search-data="orders/search/" class="input is-normal" type="text" placeholder="Search">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-search"></i>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                    <select>
                                        <option>All Orders</option>
                                        <option>Computers</option>
                                        <option>Repairs</option>
                                    </select>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>


<section data-scroll-adjust="resize" class="section">
    <div class="tile is-ancestor">
        <div id="order-list" class="tile is-9 is-vertical is-parent">
            {% include 'users/order_tile.html' %}
        </div>
    </div>

</section>