{% extends 'users/base.html' %}

{% block title %}Your Orders{% endblock %}

{% block title-right %}
<div class="level-item">
        <div class="field has-addons">
            <p class="control has-icons-left">
                <input name="search_query" search-target="order-list" action="{% url 'users:search_orders' %}" method="GET" class="input is-normal" type="text" placeholder="Search">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
            <p class="control">
                <span class="select">
                    <select>
                        <option>All Orders</option>
                        <option>Computers</option>
                        <option>Repairs</option>
                    </select>
                </span>
            </p>
        </div>
    </div>
{% endblock %}

{% block page %}
<section data-user-page="orders" data-scroll-adjust="resize" class="section">
    <div class="tile is-ancestor">
        <div id="order-list" class="tile is-9 is-vertical is-parent">
            {% include 'users/order_tile.html' %}
        </div>
    </div>

</section>

{% endblock %}