{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login &amp; Security{% endblock %}

{% block page %}

<section data-scroll-adjust="resize" data-user-page='settings' class="section">

    <h1 class="title has-text-weight-light">Settings</h1>
    <hr>

    <div class="columns">
        <div class="column is-9" style="margin-bottom: 50px;">
            
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Email Address: </label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            {% for email in user.emailaddress_set.all %}
                            {% if email.primary %}
                            <input method='POST' name='email' action="{% url 'users:change_email'%}" class="input" id="setting_email" type="email" value="{{ email.email }}" data-success'Once you verify your new email address you may begin using it to login and remove your old one.' disabled>
                            {% endif %}
                            {% endfor %}
                        </p>
                        <p class="control">
                            <a data-unlock="setting_email" class="button is-link">
                                Change
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Phone Number: </label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <p class="control">
                                <input method='POST' name='phone' action="{% url 'users:change_phone'%}" id="setting_phone" class="input js-phone-input is-togglable" type="text" placeholder="{{ user.profile.phone }}" data-success='Phone number changed successfully' disabled>
                            </p>
                            <p class="control">
                                <a data-unlock="setting_phone" class="button is-link">
                                    Change
                                </a>
                            </p>
                        </div>
                    </div>
                    <p class="help"></p>
                </div>

        </div>

    </div>

    <h1 class="title has-text-weight-light">Change Password</h1>
    <hr>

    <div class="columns">
        <div class="column is-3">
            {% crispy form %}
        </div>
    </div>
</section>
{% endblock %}