.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

#view-devices {
    -moz-animation-duration: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.hvr-float-shadow {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
    cursor: pointer;
}

.device-image img {
    max-width: 256px;
}

.is-repair-subtitle {
    font-style: normal;
}

.asteriskField {
    display: none;
}

.tabs li {
    margin-top: 0px !important;
}

.is-info-list span {
    font-weight: 500;
}

.card-level {
    padding-left: 0px !important;
}

.container.context {
    padding-top: 2rem;
}

.has-top-space {
    padding-top: 6px;
}

.menu.has-padding {
    padding: 10px 0px 0px 10px;
}

.is-divider-vertical {
    max-width: 50px;
}

.image.has-max-256 img {
    max-width: 256px;
}

.image.has-max-120 img {
    max-width: 120px;
}

.image.has-max-20pe img {
    max-width: 50%;
}

.is-horizontal-center {
    justify-content: center;
}

@media screen and (max-width:769px) {
    hr {
        margin-top: 3rem;
    }
    .image.has-max-256 {
        max-width: 192px;
    }
}

#auth_addemailform {
    margin: 0px;
}

.is-unselectable {
    outline: none;
}

.order-tile {
    padding-top: 3px;
    padding-bottom: 3px;
}