.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

#view-devices {
    -moz-animation-duration: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.hvr-float-shadow {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
    cursor: pointer;
}

.is-wrapping {
    flex-wrap: wrap !important;
}

.device-image img {
    max-width: 256px;
}

.is-repair-subtitle {
    font-style: normal;
}

.asteriskField {
    display: none;
}

.tabs li {
    margin-top: 0px !important;
}

.is-info-list span {
    font-weight: 500;
}

.card-level {
    padding-left: 0px !important;
}