.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}


.hvr-float-shadow{
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
    cursor:pointer;
}

.is-wrapping{
    flex-wrap:wrap !important;
}

.device-image img{
    max-width:256px;
}

.is-repair-subtitle{
    font-style:normal;
}

.asteriskField {
    display: none;
}