@charset "utf-8";
@import "../bulma/bulma.sass";
%smooth-opacity {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

%transition-all {
    -moz-transition: all 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: all 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: all 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: all 1s ease-in-out, left 1.5s ease-in-out;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

.is-sticky {
    &.bottom-right {
        bottom: 20px;
        right: 30px;
    }
    position: fixed;
    z-index: 99;
}

.has-hidden-menu {
    @extend %smooth-opacity;
    &.is-active {
        div[data-menu=content] {
            background-color: white;
        }
        opacity: 1 !important;
    }
    div[data-menu=content] {
        display: none;
    }
}

.card.is-hover-card {
    figure {
        padding-top: 1.5rem;
    }
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 100%;
}

.tile {
    &.is-uniform {
        flex: 1;
    }
    &.is-wrapping {
        flex: 1;
        flex-wrap: wrap;
        display: flex;
        @include touch {
            flex-wrap: nowrap;
            overflow-x: scroll;
            height: 50%;
            div.tile {
                min-width: 100%;
            }
        }
    }
}

.has-info-triangle {
    position: absolute;
    transform: translateY(-25px);
    .section {
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
    &:before {
        content: "";
        display: block;
        position: relative;
        height: 0;
        width: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid hsl(0, 0%, 21%);
        border-top: 25px solid transparent;
    }
}

.hero.is-section {
    div.hero-head {
        padding-top: 3rem;
    }
    div.hero-body {
        padding-top: 6rem;
    }
    div.is-divider-vertical {
        height: 100%;
        margin: auto;
    }
}