<nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../">Admin</a></li>
            <li><a href="{% url 'staff:control-panel' %}">Control Panel</a></li>
            <li class="is-active"><a href="#" aria-current="page">Users</a></li>
        </ul>
    </nav>
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hello, Admin.
                </h1>
                <h2 class="subtitle">
                    I hope you are having a great day!
                </h2>
            </div>
        </div>
    </section>